<% content_for(:title, 'WebAuthn') %>

<div id="new_webauthn_credential" class="w-full">
  <%= render partial: "form", locals: {credential: WebauthnCredential.new, error: nil} %>
</div>

<div class="flow-root mt-6">
  <ul id="webauthn_credentials" class="divide-y divide-gray-200">
    <%= render partial: "credential", collection: credentials %>
  </ul>
</div>

<ul class="block mt-6">
  <li><%= link_to "Back to dashboard", root_path, class: 'text-sm font-medium text-gray-600 hover:text-gray-500' %></li>
</ul>
